@mixin vertical-bouncing {
  animation: vertical-bounce 1s infinite;
}

@keyframes vertical-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@mixin text-underline-hover {
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: white;

    left: 50%;
    width: 0;
    transition: all 300ms;
  }

  &:hover:after {
    left: 0;
    width: 100%;
  }
}
